extends layout

block content
  +pageHeader(pageHeader.title, pageHeader.actioncall)
  - if (updated) 
    .alert.alert-warning(role="alert") Customer update #{updated}
  //- customer information
  .row
    .col-12
      .card.banner-card
        .card-block
          form(id="editCustomer",name="editCustomer",action="", method="post", role="form")
            .form-group.row
              label.col-10.col-sm-3.col-form-label.text-sm-right(for="number") Customer #:
              .col-6.col-sm-3.col-lg-2
                input#number.form-control(name="number", class="customerNumber", value=customer.number)
            .form-group.row
              label.col-10.col-sm-3.col-form-label.text-sm-right(for="name") Name:
              .col-12.col-sm-8
                input#name.form-control(name="name", class="customerName", value=customer.name)
            .form-group.row
              label.col-12.col-sm-3.col-form-label.text-sm-right(for="contact") Contacts:
              - theId = "contact"
              .dynamic-fields.col-12.col-sm-8(id=theId)
                if (customer.contacts.length < 1)
                  .input-group(id=theId + 0)
                      input.form-control(name=theId, class="customerContact", type="text", placeholder="name@address.com", aria-label="email contact")
                      .input-group-append
                        button.btn.btn-secondary.remove-me(type="button")
                          i.fa.fa-minus(aria-hidden="true")
                else
                  each contact, i in customer.contacts
                    .input-group(id=theId + i)
                      input.form-control(name=theId + '[' + i + ']', class="customerContact", type="text", placeholder="name@address.com", aria-label="email contact", value=contact)
                      .input-group-append(id=theId + i)
                        button.btn.btn-secondary.remove-me(type="button")
                          i.fa.fa-minus(aria-hidden="true")
                button.btn.btn-primary.add-more.float-right(type="button",data-id=theId,data-count=customer.contacts.length)
                  i.fa.fa-plus(aria-hidden="true")
            .form-group.row
            button.update.btn.btn-primary.float-right(disabled) 
              i.fa.fa-refresh(aria-hidden="true")
              |  Update
            a(href='/customer/' + customer.number + '/delete/' + customer._id)
              button.remove.btn.btn-secondary.float-right(type="button")
                i.fa.fa-trash(aria-hidden="true")
                |  Delete
  .row
    //- customer's jobs list
    if (customer.jobs.length)
      each job in customer.jobs
        .row
          .col-12
            a.card(href='/job' + job.number)
              .card-block
                span.h4= job.number
                span &nbsp;-&nbsp;#{job.description}
                span.badge.badge-pill.badge-default.float-right #{job.itemCount} items
    else
      .row
        .col-12
          a.card(href='/customer/' + customer.number + '/job/add')
            .card-block
              span.h4 There are currently no jobs for this customer. Click to add one.