extends layout

block content
  +pageHeader(pageHeader.title, pageHeader.actioncall)
  //- Job information
  .row.banner
    .col-12
      .card.banner-card
        .card-block
          span.h4= job.number
          span &nbsp;#{job.description}
          p.address= job.customer
  .row
  //- job's item list
  each item in items
    .row
      .col-12
        a.card(href='/item')
          .card-block
            span.h4= item.number
            span &nbsp;-&nbsp; #{item.description}